.imageMax {
    max-width: 300px;
    max-height: 300px;
}
.catImage {
    max-width: 100px;
    max-height: 100px;
    margin-top: 80px;
}
 
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img{
    height: 150px;
    width: 150px;
}